

// version laptop
@media screen and (min-width: 769px) {
    .menu-footer-mobile {
        display: none;
        
    }

    .menu-footer {
        position: relative;
        display: grid;
        padding-top: 2rem;
     grid-template-columns: 1fr;
    bottom: 0%; 
    top: 129px;
    font-size: 24px;
    color: #daa520;

    }
    .contenido-footer{
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .ul {
        position: relative;
        display: grid;
        z-index: 1;
        top: -33px;
        font-size: 24px;
    }

    .mapa-footer {
        position: relative;
        display: grid;

    }

   .social-media{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .icon-facebook {
        top: 60px;
        height: 73px;
        width: 75px;
        font-size: 77px;
        position: relative;
        color: white;
    }

    .icon-instagram {
        top: 60px;
        height: 73px;
        width: 75px;
        position: relative;
    }

   }

}


/* Diseño para la versión móvil */
@media (max-width: 768px) {

    .menu-footer-mobile {
        position: relative;
        display: grid;
        padding-top: 2rem;
     grid-template-columns: 1fr 1fr;
    bottom: 0%;
    }

    .menu-footer {
        display: none;
    }


    .mapa-footer-mobile {
        position: relative;
       display: grid;
}
 
  .social-media-mobile {
    
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


    .icon-facebook {
        top: 63px;
        height: 73px;
        width: 75px;
        font-size: 77px;
        position: relative;
        color:white;
    }

    .icon-instagram {
        top: 63px;
        height: 73px;
        width: 75px;
        position: relative;
    }

}