.menu-footer {
    position: relative;
    top: 129px;
    color: #daa520;

}

.footer {
    padding-top: 2rem;
    gap: 1rem;
    // grid-template-columns: 1fr 2fr;
    position: relative;
    bottom: 0%;
}

.mapa-footer {
    position: relative;
    left: 850px;
}

.icon-facebook {
    top: -151px;
    left: 475px;
    height: 73px;
    width: 75px;
    font-size: 77px;
    position: relative;
    color:#ffd900;
}

.icon-instagram {
    top: -151px;
    left: 500px;
    height: 73px;
    width: 75px;
    position: relative;
}

ul {
    position: relative;
    z-index: 1;
    top: 124px;
    font-size: 20px;
}