<footer class="menu-footer">

	<ul>
		<li type="none" >
			<a class="font-nav active color-gold" routerLink="public/horario-contacto" class=" color-gold font-nav active"
						routerLinkActive="active">Horários e contato</a></li>

		<li type="none">
			<a class="font-nav color-gold" routerLink="public/quem-somos" routerLinkActive="active">Quem somos</a>
		</li>

		
		<li type="none">
			<a class="font-nav color-gold" routerLink="login" routerLinkActive="active">Testemunhos</a>
		</li>
		
		<li type="none" >
			<a class="font-nav color-gold" routerLink="contact" routerLinkActive="active">Gáleria</a>
		</li>

		<li type="none">
		    <a class="font-nav color-gold" routerLink="contact" routerLinkActive="active">Doações</a>
		</li>
		
		<li type="none"> 
			
			<a routerLink="contact" (click)="clickHandler()" routerLinkActive="active">
			<!-- <mat-icon class="color-gold">home</mat-icon> -->
			<mat-icon class="color-gold display-inline">home</mat-icon> </a>
		<!-- <a routerLink="Doações" routerLinkActive="active">Doações</a> -->
	    </li>
	</ul>
</footer>

<section>
    <div class="footer bg-black">
        <iframe class="mapa-footer"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3359.406288739549!2d-16.90826412537423!3d32.64863079053794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc60615a86ac9a5f%3A0x504b3cae7eefe468!2sIgreja%20Plenitude%20Funchal!5e0!3m2!1ses-419!2spt!4v1686089673991!5m2!1ses-419!2spt" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       
		<div class="social-media">
        <a href="https://www.facebook.com/plenitudefunchal/"target="_blank">Ir a facebook
            <mat-icon class="icon-facebook">facebook</mat-icon>
        </a>
        <a href="https://www.instagram.com/plenitude_funchal/"target="_blank">
			<img class="icon-instagram" src="/assets/instagram-logo.png" >
        </a>
      </div>
    </div>

    
     
</section>