<footer class="menu-footer bg-black">

	
	
	<div class="text-footer font-dancing" id="text-footer">
		<h2 class="text-footer-uno">IGREJA PLENITUDE FUNCHAL|Rua Direita 47 49 9050-450– FUNCHAL – PORTUGAL|</h2>
		<h2 class="text-footer-dos">DIREITOS RESERVADOS © | POLÍTICA DE PRIVACIDADE E TRATAMENTO DE DADOS</h2>
	</div>

		<a
			class="position-absolute font-nav"
			routerLink="sign-in"
			routerLinkActive="active"
			[routerLinkActiveOptions]="{ exact: true }"
			><mat-icon class="color-gold z-index-1"
			>home</mat-icon
		  >
		  </a>

</footer>
