<div id="googleReviewContainer" #googleReviewContainer></div>
<section>
    <div id="title">
        <h3>Google Reviews</h3>
    </div>
    <div id="reviews" class="row">
        <div class="card-add cursor-pointer">
            <mat-card-header class="center-content">
                <div class="plus-sign"></div>
            </mat-card-header>
            <mat-card-content>
                <h4 class="font-add-comment">Deixa o teu comentário!</h4>
            </mat-card-content>
        </div>


        <div *ngFor="let review of reviews" class="card">
            <mat-card-header>
                <div>
                    <div class="avatar center-content" mat-card-avatar>
                        <img src="{{ review.profile_photo_url }}" alt="Avatar" height="70" width="70" />
                    </div>
                    <mat-card-title class="center-content">{{ review.author_name }}</mat-card-title>
                    <h6 class="center-content">{{ review.relative_time_description }}</h6>
                    <div class="stars center-content">
                        <mat-icon *ngFor="let item of createRange(review.rating)" class="color-stars">grade</mat-icon>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <p>{{ review.text }}</p>
            </mat-card-content>
        </div>
    </div>
    <div class="rowButton">
        <a mat-raised-button href="${ALL_REVIEWS_LINK}" target="_blank">View all reviews</a>
    </div>
</section>