.card {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .avatar img {
    border-radius: 50%;
  }
  
  .mat-card-title,
  h6 {
    margin-bottom: 8px;
  }
  
  .stars {
    display: flex;
  }
  
  .color-stars {
    color: #f1d692;
  }
  