<div class="social">

<div class="facebook-container">
<mat-icon class="icon-facebook color-gold z-index-1"width="80" height="80" >facebook</mat-icon>
<a href="https://www.facebook.com/plenitudefunchal/" target="_blank" class="icon-facebook"></a>
</div>

<div class="youtube-container">
<div class="icon-youtube"><img src="/assets/youtube.png " alt="" width="80" height="80"></div>
<a href="https://www.youtube.com/channel/UCIGNJ9hyF6OiK4UaudXYd6A" target="_blank" class="icon-youtube"></a>
</div>

<div class="instagram-container">
<div class="icon-instagram"><img src="/assets/instagram-logo.png" alt=""width="80" height="80"></div>
<a href="https://www.instagram.com/plenitude_funchal/" target="_blank" class="icon-instagram"></a>
</div>

