.social {
position: fixed;
right: 25px;
top: 50%;
}

.icon-youtube {
width:50px;
height:50px;
}

.icon-youtube:hover {
    transform: scale(1.6);
    width:55px;
      height: 55px;
  }

.icon-instagram {
    width:50px;
height:50px;
}
.icon-instagram:hover {
    transform: scale(1.6);
    width:55px;
      height: 55px;
  }

.icon-facebook {
    width:50px;
    height:50px;
    transition: transform 0.3s ease;
}


.icon-facebook:hover {
  transform: scale(1.6);
  width:55px;
    height: 55px;
}


// version web--
@media (max-width: 769px) {}

// /* Diseño para la versión móvil */

@media (max-width: 768px) {
   .social{
    right: 0;
}
   .icon-youtube {
    width:40px;
    height:40px;
    }
    
    .icon-instagram {
    width:40px;
    height:40px;
    }
    
    .icon-facebook {
    width:40px;
    height:40px;
    }
}