<div class="social">

<div class="facebook-container">
<a href="https://www.facebook.com/plenitudefunchal/" target="_blank">
<img class="icon-facebook"src= "/assets/facebook.png"alt="">
</a>
</div>

<div class="youtube-container">
<a href="https://www.youtube.com/channel/UCIGNJ9hyF6OiK4UaudXYd6A" target="_blank">
    <img class="icon-youtube" src="/assets/youtube-logo.png " alt="">
</a>
</div>

<div class="instagram-container">
<a href="https://www.instagram.com/plenitude_funchal/" target="_blank">
    <img class="icon-instagram" src="/assets/instagram.png" alt="">
</a>
</div>

