<!-- <mat-card>
    <mat-card-title>Realizar Donación</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Monto de la Donación" type="number" [(ngModel)]="donationAmount">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nombre Completo" [(ngModel)]="fullName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Correo Electrónico" type="email" [(ngModel)]="email">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitDonation()">Donar</button>
      </form>
    </mat-card-content>
  </mat-card> -->

  <!-- <div class="imagen-donation">
    <img src="/assets/Malaquias.jpg" alt="dizimos">
  </div>  -->

<h2 class="title-donation font-indie" >Temos diversas opções para que possa fazer sua doação em nosso ministério</h2>

<div class="pagamento-container">
<div class="multibanco-pagamento">
  <a href="" target="_blank">
      <img class="icon-multibanco" src="/assets/multibanco.png " alt="mb">
  </a>
  </div>


  <div class="mbway-pagamento">
    <a href="" target="_blank">
        <img class="icon-mbway" src="/assets/mbway.png " alt="mbway">
    </a>
    </div>

    <div class="stripe-pagamento">
      <a href="" target="_blank">
          <img class="icon-stripe" src="/assets/stripe.png " alt="stripe">
      </a>
      </div>

      <div class="paypal-pagamento">
        <a href="" target="_blank">
            <img class="icon-paypal" src="/assets/paypal.png " alt="">
        </a>
        </div>
      </div>
<div class="container-security">
      <mat-icon class="material-security">gpp_good</mat-icon><h4 class="title-security">Este site é seguro,
        Não efetue as suas transacções fora deste.</h4>
      </div>