<!-- <mat-card>
    <mat-card-title>Realizar Donación</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Monto de la Donación" type="number" [(ngModel)]="donationAmount">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nombre Completo" [(ngModel)]="fullName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Correo Electrónico" type="email" [(ngModel)]="email">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitDonation()">Donar</button>
      </form>
    </mat-card-content>
  </mat-card> -->

<!-- <div class="imagen-donation">
    <img src="/assets/Malaquias.jpg" alt="dizimos">
  </div>  -->

<h1 class="title-donation font-indie">Temos diversas opções para que possa fazer sua doação em nosso ministério</h1>

<div class="checkout-card">

  <div class="checkout-card__container">

    <button  [disabled]="loadingCheckout" (click)="donate()" mat-raised-button>
      <span class="font-nav button-label">Doar online</span>  
    </button>
  </div>
</div>

<div class="container-security">
  <div>
    <mat-icon class="material-security">gpp_good</mat-icon>
  </div>
  <h4 class="title-security">Este site é seguro,
    Não efetue as suas transacções fora deste.</h4>
</div>

<div class="pagamento-container">
  <div class="multibanco-pagamento">
    <img class="icon-multibanco" src="/assets/multibanco.png " alt="mb">
  </div>

  <div class="mbway-pagamento">
    <img class="icon-mbway" src="/assets/mbway.png " alt="mbway">
  </div>

  <div class="stripe-pagamento">
    <img class="icon-stripe" src="/assets/stripe.png " alt="stripe">
  </div>

  <div class="paypal-pagamento">
    <img class="icon-paypal" src="/assets/paypal.png " alt="">
  </div>
</div>
