<!-- <mat-card>
    <mat-card-title>Realizar Donación</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="Monto de la Donación" type="number" [(ngModel)]="donationAmount">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nombre Completo" [(ngModel)]="fullName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Correo Electrónico" type="email" [(ngModel)]="email">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submitDonation()">Donar</button>
      </form>
    </mat-card-content>
  </mat-card> -->