<div id="title-formulario" class="font-indie">
  <h2 id="title-formulario">Quer falar conosco?</h2>
</div>

<form class="form font-nav" [formGroup]="contactForm" (ngSubmit)="submitForm()">
  <label for="name">Nome:</label>
  <input
    type="text"
    id="name"
    name="name"
    formControlName="name"
    #nameInput
    (blur)="nameInput.focus()"
  />
  <!-- Muestra un mensaje de error si el nombre es requerido y no está completo -->
  <div
    *ngIf="isSubmitted && contactForm.get('name')?.hasError('required')"
    class="error-message"
  >
    O nome é obrigatório.
  </div>

  <label for="email">Email:</label>
  <input
    type="email"
    id="email"
    formControlName="email"
    #emailInput
    (blur)="emailInput.focus()"
  />
  <!-- Muestra un mensaje de error si el email es requerido o no es válido -->
  <div
    *ngIf="isSubmitted && contactForm.get('email')?.hasError('required')"
    class="error-message"
  >
    O email é obrigatório.
  </div>
  <div
    *ngIf="isSubmitted && contactForm.get('email')?.hasError('email')"
    class="error-message"
  >
    O email não é válido.
  </div>

  <label for="message">Mensajem:</label>
  <textarea
    id="message"
    rows="8"
    required
    formControlName="message"
  ></textarea>
  <!-- Muestra un mensaje de error si el message es requerido -->
  <div
    *ngIf="isSubmitted && contactForm.get('message')?.hasError('required')"
    class="error-message"
  >
    O message é obrigatório.
  </div>

  <label class="checkbox center-content">
    <input
      type="checkbox"
      formControlName="checkmark"
    />
    <span 
        class="checkmark center-content"
        [ngClass]="{ 'is-invalid': isSubmitted && contactForm.get('checkmark')?.invalid }"
        type="button"></span>
    <span class="text-checkmark" id="mostrarAviso"
      >Aceitar os termos e condições de processamento de dados</span
    >
  </label>
  <div
  *ngIf="isSubmitted && contactForm.get('checkmark')?.invalid"
  class="error-message check-error-message"
>
deve aceitar os Termos e Condições
</div>

  <div class="button-enviar">
    <button class="font-indie" type="submit">Enviar</button>
  </div>
</form>
