<div id="avisoPopup">
  <div class="contenido">
    <h2>Termos e Condições</h2>
    <p>
      IGREJA PLENITUDE FUNCHAL Termos e Condições Aceitação dos termos Ao enviar
      o mensajem Igreja plenitude Funchal e fornecer os seus dados pessoais,
      você aceita e compromete-se a cumprir estes termos e condições. Recolha de
      dados pessoais Igreja plenitude Funchal irá recolher e armazenar os dados
      pessoais que você fornecer, incluindo, mas não se limitando ao seu
      endereço de e-mail. Ao fornecer estas informações, você concorda que
      igreja plenitude funchal as utilize de acordo com estes termos e
      condições. Uso de dados pessoais Igreja plenitude Funchal utilizará os
      dados pessoais fornecidos por você para ter um registro da mensagem
      enviada e poder enviar uma resposta por e-mail. Proteção de dados Igreja
      plenitude Funchal compromete-se a proteger os seus dados pessoais e tomará
      medidas razoáveis para garantir a sua segurança. No entanto, devido à
      natureza da internet e das tecnologias envolvidas, não podemos garantir
      uma segurança absoluta dos dados. Divulgação de informações Igreja
      plenitude Funchal não irá partilhar, vender ou divulgar os seus dados
      pessoais a terceiros, exceto quando exigido por lei ou quando necessário
      para cumprir os propósitos estabelecidos nestes termos e condições.
      Direitos dos utilizadores Você tem o direito de aceder, corrigir ou
      eliminar os seus dados pessoais armazenados em igreja plenitude funchal.
      Se desejar exercer algum destes direitos, por favor, entre em contato
      connosco através de esta forma. Alterações nos termos e condições Igreja
      plenitude Funchal reserva o direito de modificar estes termos e condições
      a qualquer momento. Qualquer alteração será notificada aos utilizadores
      através de esta forma. Aceitação dos termos e condições Ao utilizar Igreja
      plenitude Funchal, você aceita estes termos e condições na sua totalidade.
      Se você não concorda com alguma parte destes termos, por favor,
      abstenha-se de utilizar a forma.
    </p>
  </div>
</div>
