#navBar {
  background-color: #000000;
  height: 5rem;
}

// center
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
}

nav a {
  margin: 0 10px;
}

.label-mobile-menu {
  right: 1rem;
  bottom: 14px;
}

.container-logo-mobile {
  display: flex;
  width: 8rem;
  margin-top: 3rem;
  height: 5rem;
}

.logo-container {
  position: absolute;
  width: 9rem;
  margin-left: 0.5rem;
  bottom: 0px;
  left: 3rem;
}

.z-index-1 {
  z-index: 1;
}

// version laptop
@media screen and (min-width: 769px) {
  .label-mobile-menu {
    display: none;
  }

  .sidenav-movile {
    display: none;
  }

  #navBar {
    position: fixed;
    z-index: 10;
  }

  #content {
    margin-top: 5rem;
  }
}

/* Diseño para la versión móvil */
@media (max-width: 768px) {
  .label-mobile-menu {
    display: flex;
  }

  .sidenav-movile {
    display: grid;
  }

  .mat-sidenav-container .mat-sidenav-content section {
    bottom: 0;
  }

  .logo-container {
    height: 90px;
    left: 0;
    display: flex;
    justify-content: center;
  }

  .contacto-component-container {
    bottom: 0;
  }

  .logo-container {
    display: none;
  }

  #navBar {
    height: 3rem;
    position: fixed;
    z-index: 1;
  }

  nav {
    margin-left: 0;
  }

  #content {
    margin-top: 3rem;
  }
}
