<mat-sidenav-container >
  <!-- Mobile -->
  <mat-sidenav #sidenav mode="over" class="sidenav-movile">
    <div class="container-logo-mobile">
      <img
        src="/assets/plenitude-logo.png"
        style="max-width: 100%; max-height: 100%"
        alt="image"
      />
    </div>
    <hr />
    <nav>
      <a
        class="font-nav"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Horários e contato</a>
      <a
        class="font-nav"
        routerLink="/quem-somos"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Quem somos
      </a>
      <a
        class="font-nav"
        routerLink="/testimony"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Testemunhos</a
      >
      <a
        class="font-nav"
        routerLink="/gallery"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Gáleria</a
      >
      <a class="font-nav" 
      routerLink="/predicas"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
        >Pregações </a
      >
      <a class="font-nav" 
      routerLink="/donations"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
        >Doações </a>
      
    </nav>
  </mat-sidenav>

  <!-- web -->
  <mat-sidenav-content class="">
    
    <mat-toolbar id="navBar" class="position-relative">

      <header style="display: block">
        <article class="logo-container z-index-1">
          <img
            src="/assets/plenitude-logo.png"
            style="max-width: 100%; max-height: 100%"
            alt="image"
          />
        </article>
        <mat-icon class="color-gold z-index-1" (click)="sidenav.toggle()"
          >menu</mat-icon
        >

        <label id="label-mobile-title" class="color-gold position-absolute label-mobile-menu"
          >IGREJA PLENITUDE FUNCHAL</label
        >

        <nav>
          <a
            class="font-nav"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Horários e contato</a>
          <a
            class="font-nav"
            routerLink="/quem-somos"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Quem somos
          </a>
          <a
            class="font-nav"
            routerLink="/testimony"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Testemunhos</a
          >
          <a
            class="font-nav"
            routerLink="/gallery"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Gáleria</a
          >
          <a class="font-nav" 
          routerLink="/predicas"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
            >Pregações</a
            >
          <a
            class="font-nav z-index-1"
            routerLink="/donations"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Doações</a
              >
          <a routerLink="contact z-index-1" routerLinkActive="active">
            <mat-icon class="color-gold display-inline">home</mat-icon>
          </a>
        </nav>
      </header>
    </mat-toolbar>
    <section id="content">
      <router-outlet></router-outlet>
      <app-sociais></app-sociais>

    </section>
  </mat-sidenav-content>
</mat-sidenav-container>

