<mat-sidenav-container>

	<mat-sidenav #sidenav mode="over">
		<label class="white-color">IGREJA PLENITUDE FUNCHAL</label>
		<hr />
		<nav>
			<a class="font-nav" routerLink="home" (click)="clickHandler()" routerLinkActive="active">Quem somos</a>
			<a class="font-nav" routerLink="about" (click)="clickHandler()" routerLinkActive="active">Horários e
				contato</a>
			<a class="font-nav" routerLink="login" (click)="clickHandler()" routerLinkActive="active">Testemunhos</a>
			<a class="font-nav" routerLink="contact" (click)="clickHandler()" routerLinkActive="active">Gáleria</a>
			<a class="font-nav" routerLink="contact" (click)="clickHandler()" routerLinkActive="active">Donaciones</a>
			<a class="font-nav" routerLink="contact" (click)="clickHandler()" routerLinkActive="active">
				<mat-icon class="color-gold">home</mat-icon>
			</a>
			<!-- <a routerLink="Doações"   (click)="clickHandler()" routerLinkActive="active">Doações</a> -->
		</nav>
	</mat-sidenav>



	<mat-sidenav-content>
		<mat-toolbar id="navBar">
			<header style="display: block;">
				<mat-icon (click)="sidenav.toggle()">menu</mat-icon>
				<nav>
					<a class="font-nav active" routerLink="quem-somos" class="font-nav active"
						routerLinkActive="active">
						Quem somos</a>
					<a class="font-nav" routerLink="about" routerLinkActive="active">Horários e contato</a>
					<a class="font-nav" routerLink="login" routerLinkActive="active">Testemunhos</a>
					<a class="font-nav" routerLink="contact" routerLinkActive="active">Gáleria</a>
					<a class="font-nav" routerLink="contact" (click)="clickHandler()"
						routerLinkActive="active">Doações</a>
					<a routerLink="contact" (click)="clickHandler()" routerLinkActive="active">
						<!-- <mat-icon class="color-gold">home</mat-icon> -->
						<mat-icon class="color-gold display-inline">home</mat-icon>

					</a>
					<!-- <a routerLink="Doações" routerLinkActive="active">Doações</a> -->
				</nav>
			</header>
		</mat-toolbar>
		<section>
			<router-outlet></router-outlet>
		</section>
	</mat-sidenav-content>
</mat-sidenav-container>