
<div class="slideshow-container">

    <div class="mySlides fade">
      <img src="/assets/plenitude-mujeres.jpg" class="slider-images">
      <div class="text">Caption Text</div>
    </div>
    
    <div class="mySlides fade">
      <img src="/assets/plenitude-hombres.jpg" class="slider-images">
      <div class="text">Caption Two</div>
    </div>
    
    <div class="mySlides fade">
      <img src="/assets/plenitude-adoracion.jpg" class="slider-images">
      <div class="text">Caption Three</div>
    </div>
    
    <br>
    
    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>