
<div class="slideshow-container">

    <div class="mySlides fade slider-images">
      <img src="/assets/plenitude-mujeres.jpg" class="w-h-100">
    </div>
    
    <div class="mySlides fade slider-images">
      <img src="/assets/plenitude-hombres.jpg" class="w-h-100">
    </div>
    
    <div class="mySlides fade slider-images">
      <img src="/assets/plenitude-adoracion.jpg" class="w-h-100">
    </div>  
    <br>
    
    <div class="dots-container">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>