<div class="banner bg-black">
    <!-- <img src="/plenitude-logo.png"/> -->
    <img class="logo" src="/assets/plenitude-logo.png" alt="image">
    <article class="art-next-meeting">
        <div>
            <h4 class="color-gold font-nav font-size-13">Proxima reunion</h4>
            <mat-icon class="color-gold clock-icon">access_time</mat-icon>
            <span class="next-meeting-label color-white font-guy">Quarta Feira 19:00 h</span>
        </div>

    </article>
    <!-- <i class="custom_icon material-icons" style="width: 60px; height: 60px; margin-right: 0px; font-size: 48px;">query_builder</i> -->
</div>

<app-navbar></app-navbar>
<!-- <router-outlet></router-outlet> -->