.contacto-component-container {
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
}

.horarios {
   position: relative;
}


// MEETINGS SECTION
.container-meetings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horarios {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.title-horarios {
    color: #f1d692;
    font-size: 24px;
    margin-bottom: 20px;
}

.font-nav {
    color: #f1d692;
    font-size: 16px;
}

/* Diseño para la versión móvil */
@media (max-width: 768px) {
    .contacto-component-container {
        bottom: 0;
    }
}