<section class="contacto-component-container">
    <app-slider></app-slider>
</section>

<br>

<div class="container-meetings">
    <section>
        <h2 class="title-horarios">horário de funcionamento</h2>
        <ul class="horarios">
            <li type="none" class="font-bold mb-03">Domingo: 10:00 - 13:00</li>
            <li type="none" class="font-bold mb-03">Segunda: 19:00 - 21:00</li>
            <li type="none" class="font-bold mb-03">Quarta: 19:00 - 21:00</li>
        </ul>
    </section>
</div>