<!-- version web -->

<body class="funcionamiento">

    <section class="contacto-component-container">
    <app-slider></app-slider>
    </section>

    <br>

    <div class="container-meetings">
        <section>
            <h2 class="title-horarios font-indie">Venha Fazer Parte Desta Família</h2>
            <ul class="horarios">
                <li type="none" class="font-nav">Domingo: 10h</li>
                <li type="none" class="font-nav">Segunda: 19h - 21h</li> 
                <li type="none" class="font-nav">Quarta: 20h</li>
            </ul>
        </section>
    </div>



    <div class="container-address">
        <div>
            <h2 class="title-address font-indie">Endereço</h2>

            <div class="address font-nav">
                Rua Direita 47 49 9050-450 </div>

            <div class="address-uno font-nav"> Funchal-Portugal</div>
        </div>
        <br>
        <iframe class="mapa-contact"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3359.406288739549!2d-16.90826412537423!3d32.64863079053794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc60615a86ac9a5f%3A0x504b3cae7eefe468!2sIgreja%20Plenitude%20Funchal!5e0!3m2!1ses-419!2spt!4v1686089673991!5m2!1ses-419!2spt"
            width="500" height="400" style="border: 0px;;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <app-contact-form class="container-formulario"></app-contact-form>


</body>