// version web

.container-formulario {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
    padding-bottom: 39px;
}

.contacto-component-container {
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
}


// MEETINGS SECTION
.container-meetings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37vh;
}



.horarios {
    position: relative;
    display: grid;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    font-size: 1.5rem;
    margin-top: 0;
}




//  ADDRESS SECTION

.container-address {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    align-items: center;
}



.title-address {
    display: grid;
    position: relative;
    justify-content: center;
    color: #f1d692;
    font-size: 2.7rem;
    margin-bottom: 1rem;
    font-weight: 400;
    margin-top: 0;
}


.address {
    position: relative;
    display: grid;
    justify-content: center;
    font-size: 1.5rem;
    color: black;

}



.address-uno {
    position: relative;
    display: grid;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
}




// version web--
@media (max-width: 769px) {}

// /* Diseño para la versión móvil */

@media (max-width: 768px) {

    .container-meetings {
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        margin-top: -40px;
    }

    .title-horarios {
        position: relative;
        display: grid;
        color: #f1d692;
        font-size: 2.1rem;
        justify-content: center;
        margin-top: 0;
        text-align: center;
    }

    .horarios {
        font-size: 1.2rem;
        margin: -9px;
    }



    .container-address {
        grid-template-columns: 1fr;
    }


    .title-address {
        position: relative;
        color: #f1d692;
        font-size: 33.6px;

    }

    .address {
        align-content: center;
        font-size: 19.2px;

    }

    .address-uno {
        font-size: 19.2px;
    }

    .container-formulario {
        display: grid;
        position: relative;
    }

}