<section class="contacto-component-container">
    <app-slider ></app-slider>
</section>

<br>

<h2 class="title-horarios">horário de funcionamento</h2>

<ul class="horarios">
<li type="none">
    <a class="font-nav">Domingo:    10:00 13:00 </a></li>
<li type="none">Segunda:    19:00 21:00</li>
<li type="none">Terça:    Encerrado</li>
<li type="none">Quarta:    19:00 21:00</li>
<li type="none">Quinta:    Encerrado</li>
<li type="none">Sexta:    Encerrado</li>
<li type="none">Sábado:    Encerrado</li>
</ul>



