<br>
<div class="gallery">
    <div class="item item1">
      <img src="/assets/galeria1.jpg" alt="igreja plenitude funchal">
    </div>
    <div class="item item2">
      <img src="/assets/galeria2.jpg" alt="igreja plenitude">
    </div>
    <div class="item item3">
      <img src="/assets/galeria3.jpg" alt="igreja funchal">
    </div>
     <div class="item item4">
      <img src="/assets/galeria4.jpg" alt="igreja crista">
    </div>
     <div class="item item5">
      <img src="/assets/galeria5.jpg" alt="igreja evangelica funchal">
    </div>
    <div class="item item6">
      <img src="/assets/galeria6.jpg" alt="igreja evangelica">
    </div>
    <div class="item item7">
      <img src="/assets/galeria7.jpg" alt="espiritu santo">
    </div>
    <div class="item item8">
      <img src="/assets/galeria8.jpg" alt="Deus pai">
    </div> 
    <div class="item item9">
        <img src="/assets/galeria9.jpg" alt="Deus filho">
      </div> 
      <div class="item item10">
        <img src="/assets/galeria10.jpg" alt="congregacion">
      </div>
      <div class="item item11">
        <img src="/assets/galeria11.jpg" alt="igreja">
      </div>
  </div>
  

