@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap' );
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


html, body {
  height: 100%;
}

.font-add-comment {
  font-family: 'Pacifico', cursive;
}

.font-nav {
  font-family: 'Acme', sans-serif;
}

.font-guy {
  font-family: 'Albert Sans', sans-serif;
}

.font-indie {
  font-family: 'Indie Flower', 'cursive';
}

.font-libre {
  font-family: 'averia sans libre';

}

.font-dancing {
  font-family: 'dancing';
}

#label-mobile-title {
  font-family: 'dancing';
  font-weight: 600;
}


:root {
  --dorado-color: #f1d692;
  --white-color: white;
  --black-color: black;
  --starts-color:  #ffe700;
}

html,
body {
  font-family: 'Roboto';
  padding: 0px;
  margin: 0px;
}


.font-size-13 {
  font-size: 1.3rem;
}

.bg-black {
  background-color: var(--black-color);
}

.color-gold {
  color: var(--dorado-color);
}

.color-white {
  color: var(--white-color);
}

.color-starts {
  color: var(--starts-color)
}

.bg-gold {
  background-color: var(--dorado-color);
}

.display-inline {
  display: inline;
}

.display-grid {
  display: grid;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.mat-sidenav-container {
  height: 100vh;
}


.white-color {
  color: var(--white-color);
}

.font-bold {
  font-weight: bold;
}

.mb-03 {
  margin-bottom: .3rem;
}

.mt-5 {
 margin-top: 5rem;
}

.mat-sidenav-container .mat-sidenav {
  background-color: rgb(10, 10, 10);
  padding: 10px;
  min-width: 150px;
}

.w-h-100 {
  width: 100%;
  height: 100%;
}

.mat-sidenav-container .mat-sidenav nav {
  margin-top: 15px;
  display: grid;
}

.mat-sidenav-container .mat-sidenav nav a {
  display: block;
  outline: 0px;
  margin: 5px 0px;
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
}

.mat-sidenav-container .mat-sidenav nav a.active {
  color: var(--dorado-color);
}

nav a.active {
  color: var(--dorado-color);
}

.mat-sidenav-container .mat-sidenav-content .mat-toolbar header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--white-color);
  // color: #e2a304d0;
}

.mat-sidenav-container .mat-sidenav-content .mat-toolbar header .mat-icon {
  display: none;
  cursor: pointer;
  font-size: 32px;
  width: 32px;
  height: 32px; 
}

.read-more{
  color: var(--dorado-color);
  cursor: pointer;
}

.mat-sidenav-container .mat-sidenav-content .mat-toolbar header nav a {
  // color: white;
  padding: 5px 10px;
  margin-left: 5px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.5rem;
  z-index: 1;
}

// navbar color
.mat-toolbar .mat-primary {
  background-color: black !important;
}


/* Estilos para los enlaces del navbar */
nav a {
  color: var(--white-color);
  /* Color de las letras */
  text-decoration: none;
  /* Quitar subrayado de los enlaces */
  transition: color 0.3s ease;
  /* Transición suave de color */
}

/* Otros estilos */
hr {
  border-color: var(--dorado-color);
  /* Color de la línea horizontal */
}


.mat-sidenav-container .mat-sidenav-content .mat-toolbar header nav a:hover {
  border: solid 1px #daa520;
}


.center-content {
  display: flex;
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}


.title-horarios {
  color: #f1d692;
  font-size: 2.7rem;
  margin-bottom: 20px;
  font-weight: 400;
  justify-content: center;
  display: grid;
}

.mapa-contact {
  position: relative;
  display: grid;
  justify-content: center;
  width: 70vw;
  max-width: 1000px;
  min-width: 250px;
  margin: auto;

}

/* Diseño para la versión móvil */
@media (max-width: 768px) {
  .mat-sidenav-container .mat-sidenav-content .mat-toolbar {
      height: 50px;
      padding: 0px;
    }
 
}

@media screen and (min-width: 1024px) {
  .mat-sidenav-container .mat-sidenav-content .mat-toolbar header {
    max-width: 1024px;
    margin: 0 auto;
  }

  .mat-sidenav-container .mat-sidenav-content section {
    max-width: 1024px;
    margin: 0 auto;
  }

}


@media screen and (max-width: 1023px) {
  .mat-sidenav-container .mat-sidenav-content .mat-toolbar {
    padding-right: 10px;
    padding-left: 5px;
  }

  .mat-sidenav-container .mat-sidenav-content .mat-toolbar header .mat-icon {
    display: block;
    cursor: pointer;
  }

  .mat-sidenav-container .mat-sidenav-content .mat-toolbar header nav {
    display: none;
  }

}