<main>
  <header>
    <img class="imagen-heart" src="/assets/red-heart.gif" alt="">
    <h1 class="title-quem-somos font-indie">Nossa História</h1>
  </header>

  <section>

    <div class="nossa-historia">
      <p class="font-nav">O ministério internacional plenitude, é uma entidade religiosa inglesa, porém fundada por uma
        família Brasileira: O Bispo Edelmar Messias Candido sua esposa: Carmen Maria P Messias e filhas: Ellen Susã
        Messias e Sarah Elizabeth Messias.
      </p>

      <br>

      <p class="font-nav">O Bispo Edelmar Messias Candido, nasceu em 07 de janeiro de 1972 em Goiânia-GO, aos
        quatorze anos de idade se converteu a Jesus Cristo na 1ª Igreja Batista de Goianira-GO. Aos dezessete anos se
        afastou do Evangelho e permaneceu afastado por quase três anos. Iniciou o namoro com sua hoje esposa Carmen, e
        na mesma ocasião que retornou ao Senhor sua esposa se converteu. O Bispo Edelmar iniciou seus estudos
        teológicos no ano 1990. Estudou no “Seminário Maior De formação Teológica do Centro Oeste” onde se tornou
        Bacharel em Teologia, e realizou inúmeras especializações no SETECEB de Anápolis e São Luiz. Especializou-se em
        aconselhamento no seminário “HOKMA” e estudou psicanálise em Londres. Sua ordenação pastoral aconteceu no ano
        1995, onde foi reconhecido pastor evangélico das igrejas Cristãs evangélicas do Brasil. <span
          class="read-more">Ver más</span> </p>

      <!-- <br>

  <p class="font-nav">Em Junho de 2001 depois de confirmada a Palavra de Deus para as nações, deixou o Brasil e juntamente com sua esposa e filhas imigrou para a Inglaterra; trabalhou em diversas áreas, até que em dezembro de 2001 Deus levou-lhe a escrever os projetos no dia 28 de abril de 2002 foi realizado em “Cricklewood”, o primeiro culto do Ministério Internacional Plenitude. Esse culto foi realizado na sala de uma casa gentilmente cedida pelos irmãos Roberto Coelho e Leonice, hoje pastores do MIP.</p>
 
  <br>
  <p class="font-nav">Desde sua fundação, o Ministério Internacional Plenitude tem procurado desenvolver uma visão missionária em cada membro e a discipular as pessoas treinando-as na Palavra.</p>

  <br>
  <p class="font-nav">Devido á ênfase missionária, o Ministério Internacional Plenitude fundou em 2005 o “IPS” (International Plenitude Seminary) que é um seminário teológico interativo, que visa capacitar obreiros.</p>

<br>
<p class="font-nav">Ministério Internacional plenitude se encontra hoje, em vários países, onde desenvolve a obra missionária, preparação de obreiros e edificação de bases missionárias para suporte e apoio de pastores e missionários. </p> -->
    </div>
  </section>
  <br>

  <section>
    <p class="doctrina"> CONFISSÃO DE FÉ DO INTERNACIONAL PLENITUDE SEMINARY. <span class="read-more">Ver más</span>
    </p>
    <!-- <div>
    <p> Artigo 1- DA DOUTRINA DA TRINDADE: Cremos que há um só Deus na sua essência, mas que subsistem três pessoas distintas, Pai, Filho e Espírito Santo (1Jo.3:23.24).</p>
    
    <br>

    <p> Artigo 2- DA DOUTRINA DE DEUS PAI: Cremos em Deus Pai, pessoal, Espírito Eterno, Infinito, Imutável, Onipotente, Onisciente, Onipresente e insondável em seu ser, Criador, Preservador e Consumador de todas as coisas. (SL.139).</p>

    <br>

    <p> Artigo 3- DA DOUTRINA DO FILHO JESUS CRISTO: Cremos em Deus Filho, Jesus Cristo, que todas as coisas foram feitas por ele e para ele, e sem ele nada do que foi feito se fez (Jo.1:1-3).</p>
    
    <br>

    <p> Artigo 4- DA DOUTRINA DO ESPÍRITO SANTO: Cremos em Deus Espírito Santo, nosso advogado e intercessor, da mesma essência do Pai e do Filho, “ Regenerador”, “Santificador”, “Consolador” das nossas vidas, o qual habita no crente desde o momento da sua conversão a Jesus Cristo (Jo.14:17). Ao se converter o crente receber as primícias do Espírito, que mais tarde, porém, através de uma busca sincera, pode receber a “plenitude do Espírito” (Batismo, enchimento, porção dobrada, etc. (Mt.3:11). Cremos nos dons espirituais concedidos por Cristo, por intermédio do Espírito Santo a todo crente, para edificação, aperfeiçoamento e unidade do corpo de Cristo. (ICo.12:4-11).</p>

    <br>

    <p> Artigo 5- DA DOUTRINA DAS ESCRITURAS SAGRADAS: Cremos na plena inspiração divina e relevância dos manuscritos originais das Escrituras Sagradas; aceitamos o “ Antigo e Novo” Testamento como única regra de fé suficiente e infalível da revelação de Deus em seu propósito redentor e como norma para a nossa conduta aqui no mundo (2Tm. 3:16).</p>

    <br>

    <p> Artigo 6- DA DOUTRINA DO PECADO: Cremos que houve rebelião no céu, chefiada por Lúcifer, o qual cobiçou o Trono de Deus, e que foi seguido por uma terça parte dos anjos (Ap.12:4), cujo alvo, desde então, é destruir as obras da Deus, tornando-se o agente pessoal da maldade. Ele é o principal responsável pela entrada do pecado no mundo e a infelicidade humana (IJo.5:19).</p>

    <br>

    <p> Artigo 7- DA DOUTRINA DO HOMEM: Cremos que o homem foi criado por Deus, exatamente conforme a descrição do livro de Gênesis, livre e responsável, tendo o direito de decidir entre o bem e o mal, entre a luz e as trevas, entre a bênção e a maldição. Foi criado em estado ideal de perfeição, porém, não guardou o seu estado original, sendo tentado por satanás, não resistiu, caiu em pecado e foi expulso da presença de Deus, passando a viver em miséria moral e espiritual, comprometendo todo o gênero humano. (Rm.3:24;5:12-21).</p>

    <br>

    <p> Artigo 8- DA DOUTRINA DA ALMA: Cremos na imortalidade da alma, em sua existência perpétua e consciente, que viverá para sempre, quer nas trevas com o diabo quer na luz com Cristo. Em estado de salvação e gozo no céu ou em estado de perdição e miséria no inferno. (Mt.25;31-46).</p> 

    <br>

    <p> Artigo 9- DA DOUTRINA DAS PENAS ETERNAS: Cremos na existência do inferno, lugar que Deus preparou para o diabo e seus anjos, mas que será, também, o destino eterno das pessoas que trilharam caminhos contrários a vontade de Deus, viveram em pecado e recusaram a Jesus como Salvador e Senhor. (Lc.16:22,23).</p>

    <br>

    <p> Artigo 10- DA DOUTRINA DA SALVAÇÃO: Cremos na salvação eterna somente pela graça de Deus mediante a fé no sacrifício expiatório de nosso Senhor Jesus Cristo, consumado na cruz, operada pela persuasão regeneradora do Espírito Santo. (Lc.19:10).</p>

    <br>

    <p> Artigo 11- DA DOUTRINA DA IGREJA: Cremos na Igreja como “Comunidade dos salvos” e unidade do povo de Deus, eleita e separada do mundo, instituída por nosso “ Senhor Jesus Cristo” como “clinica da alma”, “ ajuntamento dos salvos”, “aperfeiçoamento e serviço dos santos”. (Mt.16:18).</p>

    <br>

    <p> Artigo 12- DA DOUTRINA DO BATISMO: Cremos no batismo nas águas, realizado após a profissão de fé, em nome do Pai, do Filho e do Espírito Santo, como símbolo externo da obra regeneradora operada interiormente naquele que aceitou a Jesus Cristo como único e suficiente salvador. (Mt.28:19).</p>

    <br>

    <p> Artigo 13- DA DOUTRINA DA SANTA CEIA: Cremos que o Senhor Jesus Cristo instituiu a santa-ceia, com os elementos pão e vinho, representantes, de seu corpo e sangue, para manter a comunhão dos santos e anunciar a morte, ressurreição e sua segunda vinda. E que, só estará apto para a mesmo aquele que estiver em plena comunhão, caso contrário tornasse-a culpado do corpo e do sangue de Cristo. (ICo. 11:23-29).</p>

    <br>

    <p> Artigo 14- DA DOUTRINA DA SEGUNDA VINDA DE CRISTO: Cremos na vinda de Cristo em duas etapas sendo que na primeira virá para buscar sua igreja (1Ts.4:16), e na segunda para julgar e estabelecer o seu Reino Milenar. (Mt.24:30).</p>

    <br>

    <p> Artigo 15- DA DOUTRINA DA CONSUMAÇÃO: Cremos no juízo final de Deus, onde julgará os vivos e os mortos, os grandes e pequenos e destruição definitiva dos poderes malignos. (Mt.25:41).</p>
    </div> -->
  </section>

  <br>
  <section>

    <h2 class="font-indie title-sedes">Nossas localizações</h2>

    <iframe class="mapa-sedes"
      src="https://www.google.com/maps/d/embed?mid=1DM0-gtJgRqOhP7qz4A3i0Ntxk2eE9XQ&ehbc=2E312F" width="640"
      height="480"></iframe>
  </section>

  <br>

  <section>

    <h2 class="font-indie title-lideres"> Nossos Líderes</h2>

    <div class="circular-image-pastor">
      <img src="/assets/pastores.jpg">
    </div>

    <h3 class="font-nav nome-pastores">Os Pastores Ricardo e Michelle </h3>

  </section>


    <h2 class="title-ministerios font-indie"> Nossos Ministérios </h2>

    <div class="slideshow-container">

      <div class="mySlides fade">
        <div class="numbertext">1 / 7</div>
        <img src="/assets/ministerio-kids.png" style="width:100%">
        <div class="text">Caption Text</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 7</div>
        <img src="/assets/ministerio-song.png" style="width:100%">
        <div class="text">Caption Two</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 7</div>
        <img src="/assets/ministerio-inerseccion.png" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">4 / 7</div>
        <img src="/assets/ministerio-dance.png" style="width:100%">
        <div class="text">Caption four</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">5 / 7</div>
        <img src="/assets/ministerio-mujeres.png" style="width:100%">
        <div class="text">Caption five</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">6 / 7</div>
        <img src="/assets/ministerio-onlife.png" style="width:100%">
        <div class="text">Caption six</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">7 / 7</div>
        <img src="/assets/ministerio-diacono.png" style="width:100%">
        <div class="text">Caption six</div>
      </div>

      <br>

      <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
     