
.container-imagen-historia{
display: flex;
position: relative;
justify-content: center;
top: 66px;
}

.imagen-heart {
 display: grid;
  position: relative;
  width: 300px;
  
}

.title-quem-somos {
 color: goldenrod;
  font-size: xxx-large;
  position: relative;
  display: grid;
  justify-content: center;
}
.nossa-historia{
  position: relative;
  display: grid;
  font-size: larger;
  overflow: hidden;
}

.read-more{
    color: goldenrod;
}

.doctrina{
position: relative;
font-family: 'Indie Flower';
font-size: x-large;
}

.title-sedes{
    position: relative;
    margin-left: 267px;
    font-size: xxx-large;
    color: goldenrod;
 }

 .mapa-sedes{
    left: 100px;
    position: relative;
 }

 .title-lideres{
    position: relative;
    margin-left: 267px;
    font-size: xxx-large;
    color: goldenrod;  
 }

 .circular-image-pastor {
    width: 197px;
    height: 214px;
    border-radius: 50%;
    overflow: hidden;
    left: 345px;
    position: relative;

  }
  
  .circular-image-pastor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  
  .nome-pastores{
    position: relative;
    margin-left: 296px;
    font-size: x-large;
    }
   
  .title-ministerios{
    display: grid;
    justify-content: center;
    position: relative;
    font-size: xxx-large;
    color: goldenrod;
    margin: 50px;
  }
  

  * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: flex;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 3.0s ease;
}
  
