

.container-imagen-historia{
display: flex;
position: relative;
justify-content: center;
top: 66px;
}

.imagen-heart {
 display: grid;
  position: relative;
  width: 300px;
  
}

.title-quem-somos {
  color: #f1d692;
  position: relative;
  display: grid;
  justify-content: center;
  font-size: 2.7rem;
  font-weight: 400;
  
}

.nossa-historia{
  position: relative;
  display: grid;
  font-size: larger;
  overflow: hidden;
  text-align: justify;
}


.doctrina{
position: relative;
display: grid;
text-align: justify;
font-family: 'Indie Flower';
font-size: x-large;
}

.container-sedes {
  position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
}

.title-sedes{
  color: #f1d692;
  font-size: 2.7rem;
  margin-bottom: 20px;
  font-weight: 400;
  justify-content: center;
 }

 .mapa-sedes{
  position: relative;
    display: grid;
    width: 70vw;
    max-width: 1000px;
    min-width: 250px;
    margin: auto;
   
    
 }

 .container-lideres {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
 }

 .title-lideres{
  margin-top: 0;
  position: relative;
       display: grid;
       color: #f1d692;
       font-size: 2.1rem;
       justify-content: center; 
 }

 .circular-image-pastor {
    width: 197px;
    height: 214px;
    border-radius: 50%;
    overflow: hidden;
    left: 403px;
    position: relative;
    display: grid;
    justify-content: center;

  }
  
  .circular-image-pastor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  
  .nome-pastores{
    position: relative;
    display: grid;
    justify-content: center;
    font-size: 26px;
    }
   
  .container-ministerios {
    display: grid;
    position: relative;
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .title-ministerios{
    margin-top: 0;
  position: relative;
       display: grid;
       color: #f1d692;
       font-size: 3.5rem;
       justify-content: center;
  }
  

  * {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: flex;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 3.0s ease;
}
  

// version web--
@media (max-width: 769px) {
}

// ---version mobile 
@media (max-width: 768px) {

  .nossa-historia{
    margin: 21px;
  }

  .doctrina{
    margin: 21px;
  }


}